.pan-ctn {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pan-verify {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-ctn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  text-align: left;
  color: #fff;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.submit-form {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-form:hover {
  background-color: #0056b3;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}

h3.success {
  color: green;
}

h3.error {
  color: red;
}
